@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #2e0000;
    --secondary-color: #7a0222;
    --text-black: #000000;
    --text-white: #ffffff;
}

li.relative {
  position: relative;
}

li.relative .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

li.relative:hover .progress {
  width: 100%;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}
.animate-float {
  animation: float 5s ease-in-out infinite;
}

/* This ensures that all slides in the view are visible regardless of 'active' status */
.swiper-slide {
    opacity: 1 !important;
    visibility: visible !important;
    pointer-events: auto !important;
}

/* Prevents the swiper container from clipping your card shadows */
.swiper {
    overflow: visible !important;
}

/* Ensure the wrapper is using flex correctly */
.swiper-wrapper {
    display: flex !important;
}
